<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Throw</h1>
    <h3>1. from</h3>
    <form action="/pages/catch/">
    <h3>2. input</h3>
        <label for="username">이름</label>
        <input id="username" type="text" name="username">
        <label for="content">내용</label>
        <input id="content" type="text" name="message">
        <input type="submit" value="던지기">
        <h3>3. label - input tag 위에 사용</h3>
    </form>
</body>
</html>